<!-- ====== Hero ====== -->
<header id="heroSection" class="relative min-h-screen flex items-center overflow-hidden">

  <!-- Conteneur pour les croix animées -->
  <div id="crosses" class="absolute inset-0 -z-10 overflow-hidden"></div>

  <!-- Contenu Hero -->
  <div class="relative z-10 max-w-7xl mx-auto px-6 lg:px-8 flex flex-col justify-center text-center md:text-left">
    <span class="text-green-600 font-semibold italic">Bienvenue à Santé+ </span>
    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900 leading-tight">
      Votre santé, <span class="text-green-600">notre priorité</span> au quotidien
    </h1>
    <p class="mt-6 text-lg text-gray-700">
      Une maison médicale moderne et accessible, pour des soins de qualité adaptés à toute la famille.
    </p>
    <div class="mt-8 flex flex-wrap justify-center md:justify-start gap-4">
      <a href="#services" class="bg-green-500 text-white px-6 py-3 rounded-full font-semibold hover:bg-green-700 text-sm flex items-center gap-2">
        Découvrir nos services
      </a>
      <a href="#contact" class="border border-green-500 px-6 py-3 rounded-full font-semibold text-green-600 hover:bg-green-100 text-sm flex items-center gap-2">
        Nous contacter
      </a>
    </div>
  </div>

</header>

<app-about></app-about>
<app-services></app-services>
<app-team></app-team>
<app-contact></app-contact>
